body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  display:block;
  width: 450px;
  height: 175px;
  background: #ffffff;
  padding: 10px;
  margin: 25px auto;
}

.title {
  background: #e3f4ff;
}

.content {
  background: #e3f4ff;
  margin: 25px;
  margin-left: auto;
}

.button-container {
  background: #e3f4ff;
  margin-left: auto;
}

button {
  background: white;
  margin: 10px;
  margin-bottom: 1px;
  text-align: center;
}